.row-elements-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.search-bar{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
.card-width {
	max-width: 50%;
	margin: 0 auto;
}
.max-width-card {
	max-width: 45%;
	margin: 0 auto;

}